.card {
  display: flex;
  flex-direction: column;
  background-color: #bceb3b;
  border: 1px solid rgb(245, 241, 241);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  background: #7dffff;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
